body{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4d802+0,f2df54+97 */
background: #f4d802; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #f4d802 0%, #f2df54 97%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, #f4d802 0%,#f2df54 97%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, #f4d802 0%,#f2df54 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4d802', endColorstr='#f2df54',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
h1{
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 7.5em;
}
.row{
    margin-top: 1%;
    
}
.s-v{
    font-size: 2em;
    margin-top: 10px;
    text-align: center;
    
}

.name{
    font-size: 2em;
    text-align: center;
    
}
.mole{
    width: 16.66% ;
    height: 150px;
    background: #F4D802;
    margin: 10px;
    display:inline-block;
}
.active{
    background-image: url("../img/Topo1.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.push{
    background-image: url("../img/Topo2.png");
    background-size: cover;
    background-repeat: no-repeat;
}


.btn-outline-dark{
    margin-top: 20%;
    margin-left: 30%;
    padding: 70px;
    font-family: Comic, 'Courier New', Courier, monospace;
    font-size: 80px;
}
.container{
    font-family: Comic, 'Courier New', Courier, monospace;
    font-size: 30px;
    color: rgb(7, 145, 7);
    border: 1px solid black;
    padding: 5%;
    margin-top: 5px;
    text-align: center;

}
/* #game-container{
    display: none;
} */
#modal-end{
    display: none;
    text-align: center;
}

#mole-game{
    text-align: center;
    padding: 20px;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: white;
    text-decoration: none;
}

