.mole{
    width: 100px;
    height: 100px;
    background: rgb(35, 117, 35);
    margin-bottom: 5px;
}
.active{
    background-image: url("../img /Topo1.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.push{
    background-image: url("../img /Topo2.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.start{
    color: white;
    text-decoration: none;
}

.btn-outline-success{
    margin-top: 20%;
    margin-left: 30%;
    padding: 70px;
    font-family: Comic, 'Courier New', Courier, monospace;
    font-size: 80px;
}